.landing .hero {
    height: 50vh;
    width: 80%;
    left: 10%;
    padding-top: 40px;
    padding-bottom: 140px;
    border-radius: 20px;
    position: relative;
}

.landing .hero h2 {
    position: relative;
    z-index: 3;
    font-family: var(--font-raleway);
    top: 50%;
    left: 10%;
    width: 80%;
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    /* Your mobile-specific styles go here */
  
    /* For example, adjusting font size or layout */
    .landing .hero h2 {
      font-size: 16px;position: relative;
      z-index: 3;
      font-family: var(--font-raleway);
      width: 80%;
      font-size: 1rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: center;
    }
    .landing .hero {
        height: 50vh;
        width: 100%;
        left: 0%;
        padding-top: 50px;
        padding-bottom: 110px;
        border-radius: 20px;
        position: relative;
    }
  
    /* You can override styles or add specific mobile styles as needed */
   
  }
  

.landing .hero .more {
    position: absolute;
    z-index: 3;
    font-family: var(--font-raleway);
    top: 70%;
    left: 50%;
    width: auto;
    font-size: 5rem;
    letter-spacing: 1px;
    text-transform: lowercase;
    text-align: center;
    backdrop-filter: 3px;
    font-family: var(--font-raleway);
    border-radius: 30px;
}

.landing .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing .grid {
    display: flex;
    justify-content: row;
    width: 80%;
    align-items: center;
    position: relative;
    margin-left: 10%;
    
}

.landing .grid .grid-one,
.landing .grid .grid-two,
.landing .grid .grid-three,
.landing .grid .grid-four,
.landing .grid .grid-five {
    width: 40%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 35rem;
}

.custom-btn {
    letter-spacing: 1px;
    width: 130px;
    height: 40px;
    color: black;
    padding: 10px 25px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:
        inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1),
        4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
}
.grid-button {
    background-color: rgba(27, 21, 21, 0.287);
    backdrop-filter: blur(20px);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.287), rgb(209, 210, 210) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    text-decoration: none;
    text-align: center;
}

.grid-button span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.grid-button:before,
.grid-button:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: var(--c-text);
    transition: all 0.3s ease;
}

.grid-button:before {
    height: 0%;
    width: 2px;
}

.grid-button:after {
    width: 0%;
    height: 2px;
}

.grid-button span:before,
.grid-button span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: var(--c-text);
    transition: all 0.3s ease;
}

.grid-button span:before {
    width: 2px;
    height: 0%;
}

.grid-button span:after {
    width: 0%;
    height: 2px;
}

@media (hover: hover) {
    .grid-one:hover,
    .landing .grid .grid-two:hover,
    .landing .grid .grid-three:hover,
    .landing .grid .grid-four:hover,
    .landing .grid .grid-five:hover {
        opacity: 0.8;
    }
    .grid-button:hover {
        background: transparent;
        box-shadow: none;
    }

    .grid-button:hover:before {
        height: 100%;
    }

    .grid-button:hover:after {
        width: 100%;
    }
    .grid-button span:hover {
        color: var(--c-text);
    }
    .grid-button span:hover:before {
        height: 100%;
    }

    .grid-button span:hover:after {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .landing .hero h2 {
        top: 60%;
        left: 20%;
    }
}
